.eyeball {
	margin-right: 20px;
}

.ant-table-column-title {
	color: #1890ff;
}
.ant-table-expanded-row {
	.ant-table-body {
		border: 1px solid rgba(24, 144, 255, 0.45);
	}
}

.ant-dropdown-menu {
	padding: 15px 15px;
}
